In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./data/spam.tsv', sep='\t')
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [5]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [6]:
len(df)

5572

In [8]:
df.keys()

Index(['label', 'message', 'length', 'punct'], dtype='object')

In [10]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

### balance data

In [12]:
ham = df[ df['label'] == 'ham' ]
ham.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2
6   ham  Even my brother is not like to speak with me. ...      77      2

In [13]:
spam = df[df['label']=='spam']
spam.head()

   label                                            message  length  punct
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
5   spam  FreeMsg Hey there darling it's been 3 week's n...     147      8
8   spam  WINNER!! As a valued network customer you have...     157      6
9   spam  Had your mobile 11 months or more? U R entitle...     154      2
11  spam  SIX chances to win CASH! From 100 to 20,000 po...     136      8

In [14]:
ham.shape, spam.shape

((4825, 4), (747, 4))

In [20]:
ham = ham.sample(spam.shape[0])

ham.shape, spam.shape

((747, 4), (747, 4))

In [25]:
data = ham.append(spam, ignore_index=True)
data['label'].value_counts()

ham     747
spam    747
Name: label, dtype: int64

### Exploratory Data Analysis