In [1]:
import pandas as pd

# df = pd.read_csv('./data/MinimumWage.csv', encoding="latin")

# df.to_csv('./data/minwage.csv', encoding='utf-8')

df = pd.read_csv('./data/minwage.csv', encoding="utf-8")

df.head()

,Unnamed: 0,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

In [2]:
gb = df.groupby('State')
gb.get_group('Alabama').set_index('Year').head()

,Unnamed: 0,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
Year,,,,,,,,,
1968,0,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
1969,55,Alabama,...,NaN,0.0,0.0,36.683333,0.0,0.0
1970,110,Alabama,...,NaN,0.0,0.0,38.825000,0.0,0.0
1971,165,Alabama,...,NaN,0.0,0.0,40.491667,0.0,0.0
1972,220,Alabama,...,NaN,0.0,0.0,41.816667,0.0,0.0

In [5]:
act_min_wage = pd.DataFrame()

for name, group in df.groupby('State'):
    if act_min_wage.empty:
        act_min_wage = group.set_index('Year')[['Low.2018']].rename(columns={"Low.2018": name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[['Low.2018']].rename(columns={"Low.2018": name}))

In [7]:
act_min_wage.describe()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,50.0,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,...,50.0,50.000000,39.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.0,9.583800,2.316200,6.781600,8.632800,6.389800,8.823600,7.498800,8.343200,7.773200,...,0.0,5.541200,6.643590,6.836600,8.657400,5.897400,8.301800,7.166400,7.694200,5.149200
std,0.0,1.845176,3.474504,1.341223,1.187508,1.521052,1.023613,1.265436,1.476133,0.887354,...,0.0,2.202229,1.590176,0.819367,0.984647,2.726151,1.868613,0.793673,0.762675,1.998928
min,0.0,7.380000,0.000000,1.070000,6.420000,3.840000,6.820000,4.410000,5.510000,6.220000,...,0.0,0.000000,4.390000,4.790000,6.800000,0.000000,4.410000,5.580000,6.420000,2.260000
25%,0.0,8.252500,0.000000,6.522500,7.695000,5.072500,7.865000,7.015000,7.097500,7.172500,...,0.0,4.762500,5.105000,6.317500,7.800000,5.892500,7.227500,6.630000,7.107500,3.270000
50%,0.0,8.890000,0.000000,6.920000,8.670000,6.375000,9.075000,7.845000,8.510000,7.655000,...,0.0,6.070000,6.770000,6.930000,8.885000,6.855000,9.055000,7.075000,7.580000,5.445000
75%,0.0,10.492500,3.147500,7.290000,9.307500,7.677500,9.455000,8.327500,9.140000,8.242500,...,0.0,7.105000,7.830000,7.470000,9.372500,7.620000,9.672500,7.612500,8.145000,6.607500
max,0.0,15.120000,10.220000,8.680000,11.880000,9.500000,11.080000,9.580000,12.000000,10.010000,...,0.0,8.380000,10.010000,8.330000,10.320000,8.800000,11.520000,9.130000,9.660000,8.980000

In [9]:
act_min_wage.corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.018638,-0.377934,0.717653,-0.129332,0.680886,0.258997,0.321785,0.637679,...,NaN,-0.522472,0.277016,-0.020462,0.663558,-0.601640,0.411593,0.044814,0.702570,0.727932
Arizona,NaN,0.018638,1.000000,0.089395,0.498994,0.742527,0.458163,0.429836,0.590848,-0.049914,...,NaN,0.369900,-0.758607,0.439344,0.517960,0.047405,0.587975,0.584596,0.131588,0.346528
Arkansas,NaN,-0.377934,0.089395,1.000000,-0.234367,0.135749,0.047580,0.016125,0.266889,0.117245,...,NaN,0.503242,-0.204485,0.194680,0.087429,0.582192,-0.072343,0.420819,0.000470,-0.250592
California,NaN,0.717653,0.498994,-0.234367,1.000000,0.483313,0.876215,0.479197,0.596865,0.371966,...,NaN,-0.239533,-0.417782,0.392898,0.877922,-0.326364,0.754085,0.371765,0.584067,0.722617

In [11]:
issue_df = df[ df['Low.2018'] == 0 ]
issue_df.head()

,Unnamed: 0,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,0,1968,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
10,10,1968,Florida,...,NaN,0.0,0.0,34.783333,0.0,0.0
11,11,1968,Georgia,...,NaN,0.0,0.0,34.783333,0.0,0.0
15,15,1968,Illinois,...,NaN,0.0,0.0,34.783333,0.0,0.0
17,17,1968,Iowa,...,NaN,0.0,0.0,34.783333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2695,2695,2017,Alabama,...,NaN,0.0,0.0,245.119583,0.0,0.0
2715,2715,2017,Louisiana,...,NaN,0.0,0.0,245.119583,0.0,0.0
2721,2721,2017,Mississippi,...,NaN,0.0,0.0,245.119583,0.0,0.0
2738,2738,2017,South Carolina,...,NaN,0.0,0.0,245.119583,0.0,0.0
2740,2740,2017,Tennessee,...,NaN,0.0,0.0,245.119583,0.0,0.0

In [13]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'Arizona'],
      dtype=object)

In [17]:
import numpy as np

act_min_wage.replace(0, np.NaN).dropna(axis=1)

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),Guam,Hawaii,...,Pennsylvania,Puerto Rico,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,15.12,1.12,11.88,7.20,10.08,9.00,9.00,8.28,9.00,9.00,...,8.28,3.10,10.08,3.06,7.20,10.08,11.52,7.20,9.00,8.64
1969,14.33,1.07,11.26,6.83,9.56,8.53,8.53,7.85,8.53,8.53,...,7.85,2.94,9.56,2.90,6.83,9.56,10.92,6.83,8.53,8.19
1970,13.54,7.09,10.64,6.45,10.32,8.06,10.32,8.38,10.32,10.32,...,8.38,2.77,10.32,6.45,6.45,10.32,10.32,6.45,8.38,8.38
1971,12.99,6.80,10.20,6.18,9.89,7.73,9.89,8.04,9.89,9.89,...,8.04,2.66,9.89,6.18,6.18,9.89,9.89,6.18,8.04,8.04
1972,12.57,7.19,9.88,5.99,11.08,9.58,9.58,9.58,11.38,9.58,...,9.58,3.89,9.58,5.99,7.19,9.58,9.58,7.19,8.68,8.98
1973,11.84,6.77,9.31,5.64,10.43,9.02,9.02,9.02,10.72,9.02,...,9.02,3.67,9.02,5.64,6.77,9.02,9.02,6.77,8.18,8.46
1974,10.66,6.09,8.38,5.08,9.39,8.13,8.13,8.13,9.65,8.13,...,8.13,3.30,8.13,5.08,6.09,8.13,8.13,6.09,7.36,7.62
1975,9.77,5.58,7.68,4.65,8.61,7.44,7.44,7.44,8.84,7.44,...,7.44,3.02,7.44,4.65,5.58,7.44,7.44,5.58,6.75,6.98
1976,12.32,8.36,8.80,4.40,9.72,8.80,9.90,9.68,10.12,10.56,...,9.68,3.34,10.12,8.80,6.82,10.12,9.68,8.80,9.24,7.04
1977,11.57,7.85,8.26,4.13,9.13,8.26,9.30,9.09,9.50,9.92,...,9.09,3.14,9.50,8.26,6.40,9.50,9.09,8.26,8.68,6.61
1978,10.75,7.29,7.68,3.84,8.48,7.68,8.64,8.44,8.83,9.21,...,8.44,2.92,8.83,7.68,5.95,8.83,8.44,7.68,8.06,6.14
1979,11.73,7.94,10.01,6.56,10.04,6.90,8.49,10.01,10.01,9.14,...,10.01,4.14,7.94,7.94,7.59,10.01,7.94,7.59,9.66,5.52
1980,10.94,7.75,8.81,5.77,9.48,6.08,7.60,9.42,9.42,8.81,...,9.42,3.65,8.05,6.99,7.14,9.42,6.99,6.68,9.12,4.86
1981,10.60,7.44,9.23,5.23,9.28,5.51,6.88,9.23,9.23,8.54,...,9.23,3.30,7.99,6.33,6.88,9.23,6.33,7.57,8.95,4.41
1982,9.99,7.01,8.69,4.93,8.74,5.19,6.49,8.69,8.69,8.04,...,8.69,3.11,7.52,5.97,6.49,8.69,5.97,7.14,8.43,4.15
1983,9.68,6.79,8.42,4.78,8.47,5.03,6.29,8.42,8.42,7.79,...,8.42,3.02,7.29,5.78,6.29,8.42,5.78,6.91,8.17,4.02
1984,9.28,6.51,8.07,4.58,8.12,4.82,6.03,8.07,8.07,7.47,...,8.07,2.89,6.99,5.54,6.03,8.07,5.54,6.63,7.83,3.86
1985,8.96,6.29,7.80,4.42,7.84,4.66,5.82,7.80,7.80,7.22,...,7.80,2.79,6.75,5.35,5.82,7.80,5.35,6.40,7.57,3.72
1986,8.80,6.17,7.65,4.34,7.70,4.57,5.71,7.65,7.65,7.08,...,7.65,2.74,6.63,5.25,5.71,7.65,5.25,6.28,7.42,3.66
1987,8.48,5.95,7.38,4.19,7.43,4.41,5.51,7.38,7.38,6.83,...,7.38,2.64,6.39,5.07,5.51,7.38,5.07,6.06,7.16,3.53
1988,8.15,6.88,7.09,6.35,7.94,7.09,7.41,7.09,7.09,8.15,...,7.09,2.54,7.73,5.93,5.29,7.52,4.87,7.09,7.09,3.39
1989,7.78,6.56,6.77,6.06,7.57,6.77,7.07,6.77,6.77,7.78,...,6.77,2.42,7.37,5.66,5.05,7.17,4.65,6.77,6.77,3.23
1990,7.38,6.23,6.42,5.75,7.19,6.42,6.71,6.42,6.42,7.38,...,6.42,2.30,7.00,5.37,4.79,6.80,4.41,6.42,6.42,3.07
1991,7.91,6.16,7.81,5.52,7.81,6.99,6.80,6.99,6.99,7.08,...,6.99,2.21,7.81,6.99,6.99,7.08,7.81,6.16,6.99,2.94
1992,8.48,6.51,7.58,5.35,7.62,7.58,6.96,7.58,7.58,6.87,...,7.58,2.14,7.94,7.58,7.58,7.58,7.58,6.78,6.78,2.86
1993,8.23,6.33,7.37,5.20,7.40,7.37,6.76,7.37,7.37,6.67,...,7.37,2.08,7.71,7.37,7.37,7.37,7.37,6.59,6.59,2.77
1994,8.02,7.18,7.18,5.07,7.21,7.18,7.18,7.18,7.18,8.87,...,7.18,2.03,7.52,7.18,7.18,7.18,7.18,7.18,7.18,2.70
1995,7.81,6.98,6.98,4.93,7.02,6.98,6.98,6.98,6.98,8.63,...,6.98,1.97,7.31,6.98,6.98,6.98,6.98,6.98,6.98,2.63
1996,7.58,6.78,6.78,4.79,6.82,7.42,8.38,6.78,6.78,8.38,...,6.78,1.92,7.10,6.78,6.78,7.58,7.82,6.78,6.78,2.55
1997,8.19,6.63,7.41,7.41,7.44,7.80,8.97,7.41,7.41,8.19,...,7.41,1.87,8.03,6.63,7.41,7.80,7.64,6.63,7.41,2.50
1998,8.68,7.91,7.91,7.91,7.96,7.91,9.45,7.91,7.91,8.06,...,7.91,1.84,7.91,7.91,7.91,8.06,7.53,7.30,7.91,2.46
1999,8.49,7.74,7.74,7.74,7.79,7.74,9.24,7.74,7.74,7.89,...,7.74,1.80,7.74,7.74,7.74,7.89,7.37,7.14,7.74,2.41
2000,8.22,7.49,8.36,7.49,8.94,8.22,8.94,7.49,7.49,7.63,...,7.49,5.25,8.22,7.49,7.49,8.36,9.45,7.49,7.49,2.33
2001,7.99,7.28,8.84,7.28,9.05,8.70,8.70,7.28,7.28,7.42,...,7.28,5.11,8.70,7.28,7.28,8.84,9.50,7.28,7.28,2.26
2002,7.87,7.17,9.40,7.17,9.33,8.56,8.56,7.17,7.17,8.00,...,7.17,5.03,8.56,7.17,7.17,8.70,9.61,7.17,7.17,7.17
2003,9.73,7.01,9.19,7.01,9.39,8.37,8.37,7.01,7.01,8.51,...,7.01,4.91,8.37,7.01,7.01,8.51,9.54,7.01,7.01,7.01
2004,9.48,6.83,8.95,6.83,9.41,8.15,8.15,6.83,6.83,8.29,...,6.83,4.79,8.95,6.83,6.83,8.95,9.49,6.83,6.83,6.83
2005,9.17,6.60,8.65,6.60,9.10,7.89,8.46,6.60,6.60,8.01,...,6.60,4.63,8.65,6.60,6.60,8.98,9.42,6.60,6.60,6.60
2006,8.88,6.40,8.38,6.40,9.19,7.64,8.69,6.40,6.40,8.38,...,6.40,4.48,8.38,6.40,6.40,9.01,9.48,6.40,7.08,6.40
2007,8.63,7.55,9.06,8.27,9.24,8.03,8.45,6.22,6.22,8.76,...,7.55,4.36,8.94,6.22,6.22,9.09,9.58,7.06,7.85,6.22
2008,8.32,7.27,9.30,8.16,8.90,8.32,8.14,6.80,6.80,8.43,...,8.32,4.20,8.61,6.80,6.80,8.93,9.39,7.62,7.56,5.99
2009,8.35,7.29,9.34,8.50,9.34,8.35,8.81,7.64,6.83,8.46,...,8.35,4.79,8.64,7.64,7.64,9.41,9.98,8.46,7.59,6.01
2010,8.90,7.18,9.19,8.31,9.47,8.33,9.47,8.33,8.33,8.33,...,8.33,5.83,8.50,8.33,8.33,9.26,9.82,8.33,8.33,5.91
2011,8.63,6.96,8.91,8.19,9.18,8.07,9.18,8.07,8.07,8.07,...,8.07,5.66,8.24,8.07,8.07,9.07,9.65,8.07,8.07,5.73
2012,8.45,6.82,8.72,8.33,9.00,7.91,9.00,7.91,7.91,7.91,...,7.91,5.54,8.07,7.91,7.91,9.23,9.86,7.91,7.91,5.62
2013,8.33,6.72,8.60,8.36,8.87,7.79,8.87,7.79,7.79,7.79,...,7.79,5.46,8.33,7.79,7.79,9.24,9.88,7.79,7.79,5.54
2014,8.20,6.61,9.52,8.46,9.20,8.20,10.05,7.67,7.67,7.67,...,7.67,5.37,8.46,7.67,7.67,9.23,9.86,7.67,7.67,5.45
2015,9.24,7.92,9.51,8.69,9.67,8.72,11.09,7.66,8.72,8.19,...,7.66,5.37,9.51,8.98,7.66,9.67,10.00,8.45,7.66,5.44
2016,10.17,8.35,10.43,8.67,10.02,8.61,12.00,7.56,8.61,8.87,...,7.56,5.30,10.02,8.92,7.56,10.02,9.88,9.13,7.56,5.37
2017,10.01,8.68,10.22,9.50,10.32,8.43,11.75,7.41,8.43,9.45,...,7.41,5.19,9.81,8.84,7.41,10.22,11.24,8.94,7.41,5.26