In [40]:
import pandas as pd
import quandl
import math

In [42]:
df = quandl.get('WIKI/GOOGL')

df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume',]]

df['HL_PCT'] = (df['Adj. High'] - df['Adj. Close']) / df['Adj. Close'] * 100.0
df['PCT_change'] = (df['Adj. Close'] - df['Adj. Open']) / df['Adj. Open'] * 100.0

df = df[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]

forecast_col = 'Adj. Close'
df.fillna(-9999, inplace=True)

forecast_out = int(math.ceil(0.1 * len(df)))

df['label'] = df[forecast_col].shift(-forecast_out)
df.dropna(inplace=True)
df

            Adj. Close    HL_PCT  PCT_change  Adj. Volume        label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0   214.005615
2004-08-20   54.322689  0.710922    7.227007   22834300.0   210.725489
2004-08-23   54.869377  3.729433   -1.227880   18256100.0   208.072299
2004-08-24   52.597363  6.417469   -5.726357   15247300.0   218.288837
2004-08-25   53.164113  1.886792    1.183658    9188600.0   223.309335
...                ...       ...         ...          ...          ...
2016-11-04  781.100000  0.944821    1.270582    1970603.0  1094.000000
2016-11-07  802.030000  0.370310    0.890622    1992570.0  1053.150000
2016-11-08  811.980000  0.500012    1.240602    1769069.0  1026.550000
2016-11-09  805.590000  0.759692    0.468927    3098510.0  1054.090000
2016-11-10  780.290000  3.815248   -3.667901    5909609.0  1006.940000

[3081 rows x 5 columns]