In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [5]:
my_date = datetime(my_year, my_month, my_day)

In [6]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [8]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [9]:
my_date.day, my_date_time.hour

(2, 13)

### Pandas with Datetime Index

In [10]:
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [11]:
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [12]:
data = np.random.randn(2, 2)
data

array([[ 0.88120474, -0.8353182 ],
       [-0.76660133,  1.08000141]])

In [13]:
cols = ['A', 'B']

In [14]:
df = pd.DataFrame(data, dt_ind, cols)

In [15]:
df

                   A         B
2016-01-01  0.881205 -0.835318
2016-01-02 -0.766601  1.080001

In [16]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [17]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [18]:
df.index.argmin()

0