In [1]:
import pandas as pd

In [3]:
#Series
#DataFrame

In [2]:
data = {
    'apple': [3,1,4,5],
    'orange': [1, 5, 6, 8]
}

In [4]:
data

{'apple': [3, 1, 4, 5], 'orange': [1, 5, 6, 8]}

In [6]:
type(data)

dict

In [8]:
df = pd.DataFrame(data)
df

   apple  orange
0      3       1
1      1       5
2      4       6
3      5       8

In [9]:
df['apple']

0    3
1    1
2    4
3    5
Name: apple, dtype: int64

In [13]:
df = pd.read_csv('./data/IMDB-Movie-Data.csv')

In [14]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [16]:
df.tail(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [18]:
df = pd.read_csv('./data/IMDB-Movie-Data.csv', index_col='Year')

In [19]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Year,,,,,,,,,,,
2014,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",121,8.1,757074,333.13,76.0
2012,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",124,7.0,485820,126.46,65.0
2016,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",117,7.3,157606,138.12,62.0
2016,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",108,7.2,60545,270.32,59.0
2016,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",123,6.2,393727,325.02,40.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 2014 to 2016
Data columns (total 11 columns):
Rank                  1000 non-null int64
Title                 1000 non-null object
Genre                 1000 non-null object
Description           1000 non-null object
Director              1000 non-null object
Actors                1000 non-null object
Runtime (Minutes)     1000 non-null int64
Rating                1000 non-null float64
Votes                 1000 non-null int64
Revenue (Millions)    872 non-null float64
Metascore             936 non-null float64
dtypes: float64(3), int64(3), object(5)
memory usage: 113.8+ KB

In [26]:
df.shape

(1000, 11)

In [29]:
sum(df.duplicated())

0

In [32]:
df1 = df.append(df)
df1.shape

(2000, 11)

In [34]:
df1.duplicated().sum()

1000

In [38]:
df2 = df1.drop_duplicates()

df2.duplicated().sum()

0

In [40]:
df2.shape

(1000, 11)

In [41]:
# columns cleanup

In [43]:
len(df.columns)

11

In [44]:
col = df.columns

In [46]:
df.describe()

,Rank,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [49]:
type(list(col))

list

In [51]:
col

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [52]:
col1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

In [53]:
df.columns = col1

In [55]:
df.head()

,a,b,c,d,e,f,g,h,i,j,k
Year,,,,,,,,,,,
2014,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",121,8.1,757074,333.13,76.0
2012,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",124,7.0,485820,126.46,65.0
2016,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",117,7.3,157606,138.12,62.0
2016,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",108,7.2,60545,270.32,59.0
2016,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",123,6.2,393727,325.02,40.0

In [56]:
df.columns = col

In [58]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Year,,,,,,,,,,,
2014,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",121,8.1,757074,333.13,76.0
2012,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",124,7.0,485820,126.46,65.0
2016,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",117,7.3,157606,138.12,62.0
2016,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",108,7.2,60545,270.32,59.0
2016,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",123,6.2,393727,325.02,40.0

In [61]:
df.rename(columns={
    'Rating': 'rating',
    'Votes': 'votes'
}, inplace=True)

df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors',
       'Runtime (Minutes)', 'rating', 'votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [63]:
col

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [65]:
import numpy as np