In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
data = pd.read_csv('./data/data.csv', index_col=0)

data[:5]

           x          y  cluster
0  -8.482852  -5.603349        2
1  -7.751632  -8.405334        2
2 -10.967098  -9.032782        2
3 -11.999447  -7.606734        2
4  -1.736810  10.478015        1